* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #764ba2;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans';
}
li a {
  text-decoration: none;
  color: white;
}
.plan {
  background: orange;
  padding: 10px;
  border-radius: 5px;
}