* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #764ba2;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  /* position: fixed;
  left: 0;
  right: 0; */
  /* z-index: 1000; */
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans';
}
li a {
  text-decoration: none;
  color: white;
  transition: 0.7s ease;
}
li .anchor:hover {
  color: orange;
}
.plan {
  background: orange;
  padding: 10px;
  border-radius: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
}
/* HERO SECTION*/
.sec-1 {
  background: url('/images/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.hero {
  padding: 40px;
  z-index: 999;
  color: white;
  list-style: 50px;
}
.backdrop {
  width: 100%;
  height: 100%;
  background: #764ba289;
  position: absolute;
}
.hero h1 {
  font-size: 50px;
  font-family: 'Poppins' , sans-serif;
}
.hero p {
  color: #e6e6e6;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Open Sans';
}
.hero-line {
  width: 32%;
  height: 1px;
  background-color: #f2f2f2;
  margin-top: 30px ;
}
.join { 
  color: white;
  z-index: 999;
  padding-left: 40px;
}
.join p {
  font-size: 20px;
  font-family: 'Poppins' , sans-serif;
  font-weight: bold;
}
.join .join-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.join-link {
  background: orange;
  padding: 10px 25px;
  font-size: 20px;
  color: #e6e6e6;
  border-radius: 5px;
  font-family: 'Open Sans';
}
.watch-link {
  background-color: #764ba2;
  padding: 10px 25px;
  font-size: 20px;
  color: #e6e6e6;
  font-family: 'Open Sans';
  border-radius: 5px;
}

@media(max-width: 480px) {
  header {
    padding: 5px;
  }
  nav h1 {
    font-size: 18px;
    width: 200px;
  }
  .sec-1 {
    height: 70vh;
  }
  .hero {
    padding: 20px;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero p {
    font-size: 16px;
  }
  .hero-line {
    width: 90%;
  }
  .join {
    padding: 20px;
  }
  .join p {
    font-size: 20px;
  }
  .join-link {
    font-size: 16px;
    padding: 10px 20px;
  }
  .watch-link {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #764ba2;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  li  {
    margin: 16px 0;
  }

  ul.active {
    left: 0;
  }
}
