* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans';
}
li a {
  text-decoration: none;
  color: white;
}
.plan {
  background: orange;
  padding: 10px 20px;
  border-radius: 5px;
}
.hamburger {
  align-items: center;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.bar {
  z-index: 1000;
  display: block;
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
}
/* hero section */
.sec {
  background: url('/images/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.backdrop {
  background:#764ba289;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero {
  list-style: 50px;
  width: 100%;
  z-index: 900;
  padding-left: 70px;
  color: white;
}
.hero h1 {
  font-size: 50px;
  font-family: 'Poppins' , sans-serif;
  margin-bottom: 20px;
}
.hero p {
  font-size: 20px;
  font-family: 'Open Sans';
  width: 500px;
  line-height: 30px;
  margin-bottom: 35px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.get {
  background-color: orange;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  font-family: 'Open Sans';
}
.contact {
  background-color: #764ba2;
  padding: 10px 30px;
  font-family: 'Open Sans';
  font-size: 20px;
  border-radius: 5px;
}
/* service section */

.service {
  background-color: #f5f5f5;
  padding: 60px;
}
/* .service h2 {
  width: 100%;
} */
.service-time {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 0px;
}
.service-line {
  width: 100%;
  height: 1px;
  background-color: #333;
}
.service-time h2 {
  font-size: 25px;
  font-family: 'Poppins' , sans-serif;
  text-align: center;
  width: 500px;
}
.sunday {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
}

.sunday-svg,
.midweek,
.prayer {
  display: flex;
  gap: 10px;
}
.sunday-svg ,
.midweek,
.prayer {
  background-color: #764ba2;
  padding: 15px 30px;
  border-radius: 10px;
}
.sunday h3 {
  font-family: 'Poppins' , sans-serif;
  color: white;
}
.sunday-line,
.mid-line , 
.prayer-line {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin: 10px 0px 10px 0px;
}
.sunday p {
  font-family: 'Open Sans';
  color: white;
}
.time {
  text-align: center;
}

@media (max-width: 480px) {
  .sec {
    height: 70vh;
  }
  .hero {
    padding: 30px;
  }
  .hero h1 {
    font-size: 30px;
    width: 240px;
  }
  .hero p {
    font-size: 18px;
    width: 260px;
  }
  .get  {
    font-size: 16px;
    padding: 10px 20px;
  }
  .contact {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* service section */
  .service-line {
    display: none;
  }
  .service-time {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .media {
    margin: 5px;
    width: 50%;
    height: 1px;
    background-color: #333;
  }
  .sunday {
    display: flex;
    flex-direction: column;
  }
  .sunday-svg,
  .midweek,
  .prayer {
    padding: 15px 30px;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul {
    z-index: 999;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #764ba2;
    height: 80%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  li  {
    margin: 16px 0;
  }

  ul.active {
    left: 0;
  }
}
